<div class="container">
	<div class="jumbotron">
		<p>Create New Scrum Story</p>
		<div>
			<form data-ng-submit="addTask()">
				<input type="text" data-ng-model="taskInput" placeholder="Add New Task">
				<button type="submit" value="Add Task" class="btn btn-default">Add Task</button>
			</form>
			<br>
			
			<div data-ng-repeat="t in taskList">
				<input type="checkbox" data-ng-model="t.done"><span data-ng-bind="t.task"></span>
			</div>
			<button data-ng-click="removeTask()"class="btn btn-default">Remove marked task</button>
			<br><br>
			<p><button data-ng-click="createStory()" class="btn btn-default">Create New Board</button></p>
		</div>
	</div>
</div>