<div class="container">
	<h1>Drunken Octopus Main Menu</h1>
	<div class="jumbotron">
		<p>Welcome {{firstName}} {{lastName}}</p>

		<button data-ng-click="createScrumBoard()" data-ng-show="role == 200" class="btn btn-default">Create New Scrum Board</button>
    
	</div>
	<div class="panel panel-default" ng-repeat="b in boards">
		<div class="panel-body">
			{{b.name}}
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" class="btn btn-default">View</button>
				<button data-ng-click="editScrumBoard(b)" type="button" class="btn btn-default">Edit</button>
				<button type="button" class="btn btn-default">Delete</button>
			</div>
		</div>
	</div>
</div>