<div class="container">
	<h1>Drunken Octopus Scrum Board System</h1>
	<div class="jumbotron">
		<p>{{scrumBoardName}}</p>
		<button type="button" class="btn btn-default" data-ng-click="createStory()">Create Story</button>
	</div>
	<div class="row">
		<div data-ng-repeat="lane in lanes" class="col-xs-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{lane.name}}</h3>
				</div>
				<div class="panel-body">
					<div class="panel panel-default" data-ng-repeat="story in filterStoriesByLane(lane.id)">
						<div class="panel-body">
							<p>{{story.description}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>