@charset "ISO-8859-1";
body {
	background-color: black;
	background-image: url(img/bigocto.jpg);
	background-size: 100%;
	background-repeat:no-repeat;
	background-position: center top;
}

H1 {
	color: #E34234;
	background-color: white;
	background: rgb(54, 25, 25); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(54, 25, 25, .75);
}