<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Properties>
		<Property name="filename">/Users/Elvis/my_git_repos/project2/logs/project2.log</Property>
	</Properties>
	<Appenders>
	 	<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%highlight{%d{MM-dd-yy HH:mm:ss} %-5p - %m%n}" />
		</Console>
		<File name="File" fileName="${filename}">
			<PatternLayout pattern="%highlight{%d{MM-dd-yy HH:mm:ss} %-5p - %m%n}" />
		</File>
		<File name="tomcatFile" fileName="${CATALINA_HOME}/logs/project2.log">
			<PatternLayout pattern="%highlight{%d{MM-dd-yy HH:mm:ss} %-5p - %m%n}" />
		</File>
	</Appenders>
	<Loggers>
	 	<Logger name=" com.revature.aspects.ScrumAspects.consoleLogger" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="com.revature.aspects.ScrumAspects.fileLogger" level="info">
			<AppenderRef ref="File" />
		</Logger>
		<Logger name="com.revature.aspects.ScrumAspects.tomcatLogger" level="info">
			<AppenderRef ref="tomcatFile" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File" />
			<AppenderRef ref="tomcatFile" />
		</Root>
	</Loggers>
</Configuration>