<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="30">
	<Properties>
		<Property name="filename">/Users/Ben/my_git_repos/project2/logs/project2.log</Property>
	</Properties>
	<Appenders>
	<!-- 	<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss} %-5p %C{1} - %m%n" />
		</Console> -->
		<File name="File" fileName="${filename}">
			<PatternLayout pattern="%d{HH:mm:ss} %-5p %C{1} - %m%n" />
		</File>
	</Appenders>
	<Loggers>
	<!-- 	<Logger name=" com.revature.aspects.ScrumAspects.consoleLogger" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger> -->
		<Logger name="com.revature.aspects.ScrumAspects.fileLogger" level="info">
			<AppenderRef ref="File" />
		</Logger>
		<Root level="info">
			<!-- <AppenderRef ref="Console"/> -->
			<AppenderRef ref="File" />
		</Root>
	</Loggers>
</Configuration>