<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%highlight{%d{MM-dd-yy HH:mm:ss} %-5p - %m%n}" />
		</Console>
		<RollingFile name="RollingFile"
			fileName="${sys:catalina.home}/logs/project2.log"
			filePattern="${sys:catalina.home}/$${date:yyyy-MM}/app-%d{yyyy-MM-dd-HH}-%i.log.gz"
			append="false">
			<PatternLayout pattern="%d{MM-dd-yy HH:mm:ss} %-5p - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="8"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.revature.aspects.ScrumAspects.consoleLogger"
			level="warn" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="com.revature.aspects.ScrumAspects.rollingFileLogger"
			level="warn" additivity="false">
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Root level="warn">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>