<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>DrunkenOctopus</display-name>
	
	<!-- This seems a bad way to force the root to get accessed. -->
	<welcome-file-list>
		<welcome-file>/main</welcome-file>
	</welcome-file-list>
	
	<!-- Map the front controller of Spring -->
	<servlet>
		<servlet-name>MasterServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- init-param refers to ServletConfig setting an environment variable 
			for a single servlet -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/applicationContext.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>MasterServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- listen to start the container: applicationContext -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- ServletContext - environment variables for ALL Servlets -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>
</web-app>